<% for version in versions %>
  <div id="change-<%= version.id %>" class="wiki">
    <h4><%= version.updated_at %></h4>
    <ul class="details">
       <li><%= "#{l(:label_req_code)} #{version.req_id}" %></li>
       <li><%= "#{l(:label_req_text)} #{version.text}" %></li>
    </ul>
  </div>
<% end %>
